:root {
    --primary-color: #e3e0cf;
    --secondary-color: #9fa8a3;
    --tertiary-color: #c5d5cb;
    --quaternary-color: #f5f5f5;
}
*{
    background: var(--primary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    color: var(--secondary-color);
}
.top-left-corner {
    position: absolute;
    top:8px;
    left:16px;
    background: none;
    text-shadow: 2 px px #9fa8a3;
    font-weight: bold;
}
.other-sections-title {
    text-align: center;
    font-size: 32px;
    color: var(--secondary-color);
}
/* Header Style */
header {
    background-color: var(--primary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    color: var(--tertiary-color);
}
header h1 a {
    text-decoration: none;
}
header h1 a:hover {
    text-decoration: underline;
}
header nav {
    margin: 8px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header end */

/* About me */
#about-me {
    margin:15 px;
    padding: 3px;
    display: flex;
    justify-content: left;
    flex-wrap: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--quaternary-color);
    border: var(--secondary-color) solid 3px;
}
#profile-img {
    width: 20%;
    margin: 3.5%;
    border-radius: 5%;
}
#about-me article {
    width: 55%;
    text-align: left;
    margin: 3.5%;
    line-height: 1.2;
    background-color: var(--quaternary-color);
}
#about-me h2 {
    background-color: var(--quaternary-color);
    font-style: italic;
    color: var(--secondary-color);
    margin-top: 40px;
}
#about-me p {
    background-color: var(--quaternary-color);
    font-size: 20px;
    color: var(--secondary-color);
}
/* About Me End */

/* My Work */

.run-buddy {
    position: relative;
    color: black;
    width: 65%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.run-buddy img {
    width: 100%;
    border-radius: 5%;
}
.run-buddy img a {
    background: transparent;
}
.other-work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.other-work-imgs {
    position: relative;
    color: black;
    margin: 20px;
    flex: 1;
}
.other-work-imgs img {
    width: 100%;
    border-radius: 5%;
}
/*About Me End */

/*Contact */
#contact-info {
    background-color: var(--secondary-color);
    width: 100%;
    border: var(--secondary-color) solid 6px;
}
#contact-info h2 {
    color: var(--quaternary-color);
    background-color: var(--tertiary-color);
    margin-bottom: auto;
    margin-top: auto;
}
#contact-info a {
    background-color: var(--tertiary-color);
}
#contact-info address {
    padding-bottom: 10px;
    padding-top: 0;
    margin-top: 0;
}
#contact-info address {
    background-color: var(--quaternary-color);
    text-align: center;
    color: var(--secondary-color);
}
#contact-info address a {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}
/* Contact End */

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}
/*Footer End */

/* MEDIA QUERY FOR 980PX BREAKPOINT */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 24px;
    }
    
    #about-me h2 {
        margin-top: 0;
    }

    #contact-info {
        font-size: 24px;
    }
}
/* END 980PX MEDIA QUERY */

/* MEDIA QUERY FOR 768PX BREAKPOINT */
@media screen and (max-width: 768px) {
    #profile-img {
        width: 30%;
    }

    #contact-info {
        font-size: 18px;
    }
}
/* END 768PX MEDIA QUERY */

/*  MEDIA QUERY FOR 575PX BREAKPOINT */
@media screen and (max-width: 575px) {
    .lower-title {
        font-size: 24px;
    }

    .top-left {
        font-size: 12px;
    }
    
    header {
        margin-bottom: 10px;
        padding: 10px;
    }
    
    header h1 {
        font-size: 30px;
    }

    header nav ul li a {
        font-size: 16px;
        padding: 10px 15px;
    }
    
    #profile-img {
        margin-top: 30px;
    }

    #about-me h1 {
        margin-bottom: 0;
    }
    
    #about-me p {
        font-size: 14px;
    }

    #contact-info {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}
/* END 575PX MEDIA QUERY */